---
import Layout from "@layouts/Default.astro";
import RecentBlogPosts from "@components/generic/RecentBlogPosts.astro";
import { Pill } from "@eliancodes/brutal-ui";
import { Button } from "@eliancodes/brutal-ui";
import { Card } from "@eliancodes/brutal-ui";
import { Image } from "astro:assets";
import meImg from "../../public/kevin_ruhl.jpg";

const tools = [
  { name: "TypeScript", url: "https://www.typescriptlang.org/" },
  { name: "React.js", url: "https://react.dev/" },
  {
    name: "Next.js",
    url: "https://nextjs.org/",
  },
  { name: "Node.js", url: "https://nodejs.org/en" },
  {
    name: "TailwindCSS",
    url: "https://tailwindcss.com/",
  },
  { name: "JavaScript" },
  { name: "PostgreSQL", url: "https://www.postgresql.org/" },
  { name: "NestJS", url: "https://nestjs.com/" },
  { name: "Golang", url: "https://go.dev/" },
];
---

<Layout
  title="Home"
  pageTitle="Kevin Ruhl | Home"
  description="My humble home page"
>
  <main class="bg-gray p-6">
    <section class="grid md:grid-cols-8 gap-8 mt-4 lg:max-w[1440px] lg:mx-auto">
      <div class="col-span-6">
        <Card color="white">
          <div class="flex flex-col justify-between items-start gap-4">
            <p class="mt-4 outfit text-4xl lg:text-5xl">
              Senior Software Engineer @<a
                class="text-black"
                target="_blank"
                href="https://www.solvd.com/">Solvd</a
              >
            </p>
            <p class="mt-2 outfit text-xl md:text-3xl lg:text-5xl"></p>
            <Button target="_self" href="/blog/" color="#60a5fa">
              Check out the blog &rarr;
            </Button>
          </div>
        </Card>
      </div>
      <div class="col-span-6 sm:col-span-2">
        <Image
          src={meImg}
          width={meImg.width}
          height={meImg.height}
          alt="a man wearing glasses and hat with a mountain in the background"
          class="object-cover h-full w-full rounded-lg md:col-span-2 border-3 border-black card-shadow"
        />
      </div>
      <div class="col-span-6 sm:col-span-4">
        <Card color="white">
          <h2 class="text-4xl lg:text-5xl mb-4 poppins">About Me</h2>
          <p class="poppins">
            I'm a software engineer working with the React.js and JavaScript
            ecosystem. Passionate and committed to building user friendly,
            richly interactive, and performant web applications. Thinker and
            explorer of ideas. I enjoy reading and writing and sometimes
            remember to publish my thoughts on the internet.
          </p>
        </Card>
      </div>
      <div class="col-span-6 sm:col-span-4">
        <Card color="white">
          <h2 class="text-4xl lg:text-5xl mb-8 poppins">Tools</h2>
          <ul class="flex gap-4 flex-wrap">
            {
              tools.map((item) => (
                <li>
                  <Pill color="#60a5fa">
                    {item.url ? (
                      <a
                        href={item.url}
                        target="_blank"
                        title={`Go to ${item.name}`}
                      >
                        {item.name}
                      </a>
                    ) : (
                      <span>{item.name}</span>
                    )}
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
    </section>
    <div class="mt-8 lg:max-w[1440px] lg:mx-auto">
      <RecentBlogPosts />
    </div>
  </main>
</Layout>
